{% extends 'layout.html'%}
{% load static %}

{% block content %}
    <h3>Add a Race</h3>
    <div class="divider"></div>
    <div id="raceForm">
        <form action="{% url 'runner:addRace' %}" method="POST">
            {% csrf_token %}
            {{raceform.as_p}}
            {{regform.as_p}}
            <div id="aidStationForms">
                <h4>Aid Stations</h4>
                {{stationforms.management_form}}
                {% for station in stationforms %}
                    <div class="stationForm" id="station-{{ forloop.counter0 }}">
                        {{ station.as_table }}
                        <br>
                    </div>
                {% endfor %}
            </div>
            <button type="button" id="addStationButton">Add Aid Station</button>
            <button type="button" id="removeStationButton">Remove Aid Station</button>
            <input type="submit" value="Create Race">
        </form> 
    </div>
  
    <!-- <script src="{% static 'runner/addRace.js'%}"></script> -->
    <script>
        const totalFormsID = "id_station-TOTAL_FORMS";
        const idFragment = "station-"
        document.addEventListener('DOMContentLoaded', function() {

            // Add some placeholder text to Aid Stations
            document.getElementById("id_station-0-name").placeholder = "Start";
            document.getElementById("id_station-0-distance").placeholder = "0";
            document.getElementById("id_station-0-distance").value = "0";
            document.getElementById("id_station-2-name").placeholder = "Finish";
            document.getElementById("id_station-2-distance").placeholder = "eg. 50 Miles";

            var button = document.getElementById("addStationButton");
            button.addEventListener('click', function() {
                let totalFormsManager = document.getElementById(totalFormsID);
                let curNumForms = totalFormsManager.value;
                existingForm = document.getElementById(idFragment+(curNumForms-1));
                newForm = existingForm.cloneNode(true);
                recursiveIdNameForReplace(newForm, idFragment+(curNumForms-1), idFragment+(curNumForms))
                // Get rid of placeholders in penault

                document.getElementById("id_"+idFragment+(curNumForms-1+"-name")).placeholder = "";
                document.getElementById("id_"+idFragment+(curNumForms-1+"-distance")).placeholder = "";

                existingForm.parentNode.appendChild(newForm);
                document.getElementById("id_"+idFragment+(curNumForms+"-name")).placeholder = "Finish";
                document.getElementById("id_"+idFragment+(curNumForms+"-distance")).placeholder = "eg. 50 miles";
                totalFormsManager.value++;
                var removeButton = document.getElementById("removeStationButton");
                removeButton.style.display = this.style.display;
            });
            var removeButton = document.getElementById("removeStationButton");
            removeButton.addEventListener('click', function() {
                let totalFormsManager = document.getElementById(totalFormsID);
                let curNumForms = totalFormsManager.value;
                lastForm = document.getElementById(idFragment+(curNumForms-1));
                lastForm.remove();
                totalFormsManager.value--;
                if (totalFormsManager.value < 2)
                {
                    this.style.display = 'none';
                }
                document.getElementById("id_"+idFragment+(curNumForms-2+"-name")).placeholder = "Finish";
                document.getElementById("id_"+idFragment+(curNumForms-2+"-distance")).placeholder = "eg. 50 miles";
            });
        });

        function recursiveIdNameForReplace(node, oldString, newString)
        {
            node.id = node.id.replace(oldString, newString);
            
            if (node.for)
            {
                node.for = node.for.replace(oldString, newString);
            }
            
            if (node.name)
            {
                node.name = node.name.replace(oldString, newString);
            }

            node.value = "";
            children = node.children;
            for (child of children)
            {
                recursiveIdNameForReplace(child, oldString, newString);
            }
            return
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/html-duration-picker@latest/dist/html-duration-picker.min.js"></script>
{% endblock %}