{% extends 'layout.html'%}

{% block content %}
    <h2>Welcome to {{name}}'s page!</h3>


    {% for race in races%}
        <h3>{{race.name}}, {{race.date}}</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Aid Station</th>
                  <th scope="col">Distance</th>
                  <th scope="col">Predicted Time</th>
                  <th scope="col">Log</th>
                </tr>
            </thead>
            <tbody>
                {% for station in race.stations%}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{station.name}}</td>
                        <td>{{station.distance}}</td>
                        <td>1 hr</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}