{% extends 'layout.html'%}
{% load tz %}

{% block content %}
    <h2>Welcome to {{name}}'s page!</h3>


    {% for race in races%}
        <h3>{{race.name}}, {{race.date}}</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Aid Station</th>
                  <th scope="col">Distance</th>
                  <th scope="col">Logged Time</th>
                  <th scope="col">Predicted Time</th>
                </tr>
            </thead>
            <tbody>
                {% for stationLog in race.stationsLog%}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{stationLog.station.name}}</td>
                        <td>{{stationLog.station.distance}}</td>
                        <td>
                            {% if not stationLog.time is None %}
                                {% localtime on %}
                                    {{stationLog.time}}
                                {% endlocaltime %}
                            {% elif True %}
                            <!--TODO Confirm that user is crew-->
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" value="{{stationLog.station.id}}" name="station">Log {{stationLog.station.name}}</button>
                                </form>

                            {% endif %}
                        </td>
                        <td>
                            {{stationLog.prediction}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}