
{% extends 'layout.html'%}
{% load static %}
{% block content %}
    <h1> Welcome to UltraCrew!</h1>
    <img src="{%static 'img/dadAtStoneMill.jpg'%}" alt="An extremely attractive runner, who coded this website, departs an aid station as his portly father looks on">
    <p>The true heroes of ultramarathons are the volunteers and crew. We crazy ultramarathons get do spend the whole 
        day doing something we love: running. Meanwhile, volunteers and crew sacrifice their day to make it all possible. 
        The UltraCrew app was designed to make their job a bit eaiser, more enjoyable, and more predictable.
        UltraCrew makes it simple for crew members to log their runner's progress and offers predictions for when the runner will arrive at
        the upcoming aid stations. This helps crew ensure that they are there for their runner while givign them insight into how much time they have
        in between stops. 
    </p>
{% endblock %}