
{% extends 'layout.html'%}
{% load static %}
{% block header%}
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{%static 'img/dadAtStoneMill.jpg'%}" alt="An extremely attractive runner, who coded this website, departs an aid station as his portly father looks on" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{%static 'img/stoneMillaidstation.jpeg'%}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{%static 'img/juneauAidStation.JPG'%}" class="d-block w-100" alt="...">
        </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <h1> Welcome to UltraCrew!</h1>
    <div id="logoDiv">
        <img class="largeLogo" src="{%static 'img/UltraCrewLogo.png'%}">
        
    </div>
    
    <div class="container">
        <div class='divider'></div>
        <div class="row">
            <div class="col-lg">
            
                <h5>Volunteers and crew are the heroes of ultramarathons.</h3>
                <p>We crazy ultramarathons get to spend the whole 
                    day doing something we love: running. Meanwhile, volunteers and crew sacrifice their day to make it all possible. The UltraCrew app was designed to make their job a bit eaiser, more enjoyable, and more predictable.</h5>
                </p>
                <p> This app lets crew memebers:</p>
                <ul>
                    <li>See time projections based on a runner's goal</li>
                    <li>Easily log a runner's progress as they arrive at each aid station</li>
                    <li>Compare a runner's progress with their goal</li>
                    <li>Know when to arrive at future aid stations based on the runner's last split pace</li>
                </ul>
                
            </div>
            <div class="col-lg">
                <h5>To get started:</h5>
                <ol>
                    <li>Create an account and make sure crew members have created accounts too.</li>
                    <li>Log in and create a race on the 'Add Race' page.</li>
                    <li>Share the link from the 'My Races' page with your crew and anyone wants to cheer you on.</li>
                    <li>On race day, the crew may log in with their accounts to log your arrival at each aid station</li>
                    <li>After two checkpoints have been logged, crew will be able to see predicted arrival times for each future aid station.</li> 
                </ol>
            </div>
        </div>
        <div class= "divider"></div>
        <div class="row">
            <h3>Check out my GitHub, YouTube, and LinkedIn to see more projects like this!</h3>
            <div class="row">
                <a class="col" target="_blank" href="https://github.com/Rice-Tech"><img class="socialLogo" src="{% static 'img/githubLogo.png' %}"> </a>
                <a class="col" target="_blank" href="https://www.youtube.com/@RiceCodes"><img class="socialLogo" src="{% static 'img/youtubeLogo.png' %}"> </a>
                <a class="col" target="_blank" href="https://www.linkedin.com/in/ricecodes/"><img class="socialLogo" src="{% static 'img/linkedinLogo.png' %}"> </a>
            </div>


        </div>
        
    </div>
{% endblock %}