<!DOCTYPE html>
<html>
    <head>

    </head>
    <header>
        <nav>
            <ul>
                <li>
                    <form class="logout-link" action="{% url 'accounts:logout' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    <body>
        <h1>UltraCrew</h1>
        {% block content %}
        {% endblock %}
    </body>
</html>