body {
    background-image: url("img/runnerbg.jpeg");
    background-size: cover;
    color: #053000;
}

main {
    background-color: #fff6e4e6;
    padding: 2em 2em;
}

.navbar{
    position: fixed;
    width: 100vw;
    z-index: 10000;
}
.navbar + * {
    padding-top: 55px;
}

.divider {
    height: 2px;
    width: 100%;
    background-color: #053000;
    margin: 1em auto;
}

footer {
    background-color: whitesmoke;
    align-items: center;
    text-align: center;
    padding: 1em;
    width: 100%;
    margin: auto;
}

a {
    color: forestgreen;
}

#raceForm {
    margin: 0 auto;
    width: 75vw;
}

form {
    margin: 0 auto;
}

h3 {
    text-align: center;
    margin: 3px auto;
}

.btn-primary {
    background-color: forestgreen;
    border: chartreuse;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: darkgreen;
}

/*img{
    width: min(50%, 500px);
    border-radius: 40px;
    box-shadow: black 1px 1px 10px;
}*/
.carousel {
    margin: auto auto;
}

.carousel-item img {
    object-fit: cover;
    object-position: center 20%;
    width: 100%;
    height: auto;
    max-height: 25vh;
}

table {
    width: 100%;
    padding: 1vh 1vw;
    font-size: min(4vw, 1em);

}
table .btn {
    font-size: min(4vw, 1em);
    padding: min(6px, 1vh) min(12px, 1vw);
}

.stationForm input {
    margin: 3px 3px;
    flex: 1 1 auto;
    width: 50%;
}
.stationForm{
    display: flex;
}
.raceFormSection input{
    width: min(400px, 50%)
}
.raceFormSection label{
    width: min(400px, 30%);
}
.bold{
    font-weight: bold;
}
.raceFormSection{
    align-items: center;
    margin: 0 auto;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.icon{
    width: 20px;
    object-fit: contain;
}
.largeLogo{
    max-width: 120px;
    text-align: center;
    margin: 0 auto;
}
h1{
    text-align: center;
}
.navbar-brand{
    display: flex;
    align-items: center;
}

#logoDiv{
    display: flex;
    justify-content: center;
    padding-bottom: 3px;
}
a.col{
    justify-content: center;
    text-align: center;
}
.socialLogo{
    max-width: 100px;
}