body{
    background-image: url("runnerbg.jpeg");
    background-size: cover;
    color:#053000;
}
main{
    background-color: #fff6e4e6;
    padding: 2em;
}
.divider{
    height: 2px;
    width: 100%;
    background-color: #053000;
    margin: 1em auto;
}
footer{
    background-color: whitesmoke;
    align-items: center;
    text-justify: center;
    padding: 1em;
    width:100%;
    margin: auto;
}

a{
    color: forestgreen;
}
#raceForm{
    margin: 0 auto;
    display: flex;
    align-items: center;
}
form{
    margin: 0 auto;
}
h3{
    text-align: center;
    margin: 0 auto;
}
.btn-primary{
    background-color: forestgreen;
    border: chartreuse;
}
.btn-primary:hover, .btn-primary:active{
    background-color: darkgreen;
}
